.footer{
    display:flex;
    flex-direction:column;
    aling-itens:center;
    justify-content: center;
    margin-top: 50px;
    
}
.footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-right: 5%;
    
}
.footer a{
    color: aliceblue !important;
    ;
}
.footer li{
    margin-left: 15px;
}
.footer p{
    margin: 15px;
    cursor: pointer;
}  
.btn{
    border: 1px solid red;
    width:150px;
}